@import url(http://fonts.googleapis.com/css?family=Rajdhani:600);
/* line 3, ../../../styles/starcraft/_sc_variables.scss */
.headline {
  font-family: "Rajdhani", Helvetica, Arial, sans-serif;
  font-size: 40px; }

/* line 8, ../../../styles/starcraft/_sc_variables.scss */
h4 {
  font-size: 20px;
  font-family: "Rajdhani", Helvetica, Arial, sans-serif; }
