<section>
<h4>
versus
</h4>
<div>
	
	<div class="versusHeader" data-ng-model=" versusHeader ">
		<div class="playerName">
			<p>{{selectedMatch.player1.proName}}</p>
		</div>
		<div class="time">
			<p>{{versus.time}}</p>
		</div>
		<div class="playerName">
			<p>{{selectedMatch.player2.proName}}</p>
		</div>

	</div>

	<div class="playerContainer">
		<div class="player">
		
		</div>
		<div class="player">
		
		</div>
	</div>

	<section ng-controller="ReplayViewController" ng-init="init()" ng-show="bShowApp">
    	<div class="contentBlock">
      		<replay></replay>
    	</div>
  	</section>

</div>
</section>